/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.metric {
  margin: 20px 0;
}
/* src/App.css */
.chart {
  margin: 40px auto;
  width: 80%; /* Adjust this as needed */
  max-width: 800px;
}
/* src/App.css */
.region-info {
  margin-top: 20px;
  text-align: center;
}

.region-info ul {
  list-style-type: none;
  padding: 0;
}

.region-info li {
  font-size: 16px;
  margin: 5px 0;
}
/* src/App.css */
ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

